<phpunit bootstrap="vendor/autoload.php">
    <php>
        <var name="DB_DSN" value="cassandra:dbname=test_cp4d;host=localhost" />
        <var name="DB_USER" value="no_username" />
        <var name="DB_PASSWD" value="no_password" />
        <var name="DB_DBNAME" value="test_cp4d" />
    </php>
    <testsuites>
        <testsuite name="CassandraPDO4Doctrine">
            <directory>tests/src</directory>
        </testsuite>
    </testsuites>
</phpunit>