<phpunit bootstrap="vendor/autoload.php">
    <php>
        <var name="DB_DRIVER" value="pdo_cassandra" />
        <var name="DB_HOST" value="localhost" />
        <var name="DB_PORT" value="9160" />
        <var name="DB_CQLVERSION" value="3.0.0" />
        <var name="DB_USER" value="dbuser" />
        <var name="DB_PASSWD" value="dbpassword" />
        <var name="DB_DBNAME" value="test_cp4d" />
    </php>
    <testsuites>
        <testsuite name="CassandraPDO4Doctrine">
            <directory>tests/src</directory>
        </testsuite>
    </testsuites>
</phpunit>